<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/commons.css">
    <link rel="stylesheet" href="/static/bootstrap-3.4.1/css/bootstrap.css">
    <style>
        .navbar {
            border-radius: 0;
        }

        .menu-area {
            position: fixed;
            top: 60px;
            left: 0;
            bottom: 0;
            width: 250px;
            border: 1px solid #dddddd;

            overflow: auto;
        }

        .content-area {
            position: fixed;
            top: 60px;
            left: 252px;
            right: 0;
            bottom: 0;
            padding: 0 10px;

            overflow: auto;
        }
    </style>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">小猿圈管理中心</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">视频管理</a>
                </li>
                <li>
                    <a href="#">文章管理</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"> 欧阳峰 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>

<div>
    <div class="menu-area">
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <p>菜单</p>
        <div>菜单</div>

    </div>
    <div class="content-area">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 数据处理区域
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword3">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-success">新 建</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 数据列表区域
            </div>


            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>
                        <a class="btn btn-primary btn-xs">编辑</a>
                        <a class="btn btn-danger btn-xs">删除</a>
                    </td>
                </tr>

                </tbody>
            </table>


        </div>

        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </div>
</div>

</body>
</html>
